<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <form (ngSubmit)="sendRecipe()" #receitaForm="ngForm" class="my-4 p-4 border rounded" id="form-container">
        <div class="form-group">
          <label for="payload">Entre com o Payload</label>
          <textarea class="form-control mt-3" id="payload" [(ngModel)]="payload" [ngModelOptions]="{standalone: true}" rows="15"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-2 mb-3">
      <button class="btn btn-primary btn-block" (click)="chooseAndSend(restaurantOne)">Enviar Restaurante 1</button>
    </div>
    <div class="col-md-2 mb-3">
      <button class="btn btn-primary btn-block" (click)="chooseAndSend(restaurantTwo)">Enviar Restaurante 2</button>
    </div>
    <div class="col-md-2 mb-3">
      <button class="btn btn-primary btn-block" (click)="chooseAndSend(restaurantThree)">Enviar Restaurante 3</button>
    </div>
    <div class="col-md-2 mb-3">
      <button class="btn btn-primary btn-block" (click)="chooseAndSend(restaurantFour)">Enviar Restaurante 4</button>
    </div>
    <div class="col-md-2 mb-3">
      <button class="btn btn-primary btn-block" (click)="chooseAndSend(restaurantFive)">Enviar Restaurante 5</button>
    </div>
  </div>
</div>

